*{
	padding: 0;
	margin: 0;
	overflow-x: 0;
}

header{
	background-image: url('img/indexBackground.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	color: white;
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.links{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 25px;
	padding: 15px;
	min-width: 315px;
	width: 30%;
	background-color: red;
	text-align: center;
	font-weight: bold;
}

header h1{
	font-size: 4em;
	text-align: center;
	font-weight: bold;
}

.links1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-size: 1em;
	font-weight: bold;
}

.links1 a{
	background-color: white;
	text-decoration: none;
	padding: 10px;
}

.body{
	

}
